body {
  background-color: orange;
  margin-left: 0;
}

main {
  width: 90%;
  height: 100%;
  margin-left: 60px;
  background-color: white;
}

header {
  width: 90%;
}

.address-text a:hover {
  font-size: 15pt;
}

nav {
  position: fixed;
  top: 295px;
  left: 4.7%;
  width: 90.2%;
}

nav .col-md {
  font-weight: bold;
  text-align: center;
  font-size: 15pt;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #f4f4e5;
  height: 50px;
}

nav .col-md:hover {
  font-size: 16pt;
  background-color: white;
  cursor: pointer;
}

span {
  color: black;
}

section {
  margin-top: 345px;
  padding-top: 10px;
  width: 100%;
}

section ul {
  width: 95%;
}

section h1 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  width: 90%;
  margin: auto auto;
  margin-bottom: 20px;
}

h1 {
  font-size: 18pt;
  text-align: center;
}

h2 {
  font-size: 14pt;
  text-align: center;
}

ul {
  width: 80%;
  margin: auto auto;
}

li {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.address {
  list-style: none;
  margin-left: 280px;
}

.address ul, #About > ul, #Projects > ul {
  list-style: none;
}

.address li {
  display: inline;
  margin-right: 30px;
}

.research, .activity, .project {
  margin-top: 30px;
  border-bottom: 2px solid black;
}

.research h2, .activity h2, .project h2 {
  text-align: justify;
  margin-left: 100px;
}

.research h2:hover, .project h2:hover {
  font-size: 15pt;
}

.research span, .activity span {
  margin-left: 50px;
  font-size: 12pt;
}

.research ul, .activity ul, .project ul {
  margin-top: 20px;
  list-style: initial;
}

#page {
  position: fixed;
  top: 0;
  left: 60px;
  background-image: url("images/img2.jpg");
  color: white;
  width: 100%;
}

#page a {
  color: white;
  font-weight: bold;
}


#profile {
  width: 200px;
  height: 200px;
  margin-top: 60px;
  border: 5px solid #bebcbc;
  border-radius: 50%;
  display: block;
}

#photo {
  float: left;
  position: relative;
  top: -30px;
  left: 50px;
}

#info h2 {
  margin-top: 30px;
  font-size: 13pt;
}

#address {
  font-size: 10pt;
  font-weight: bold;
}

#res {
  list-style: none;
  margin-left: 0;
}

#About {
  margin-top: 340px;
  padding-top: 30px;
}

#About p {
  width: 90%;
  margin: auto auto;
  margin-bottom: 10px;
}

#Intro {
  width: 90%;
  margin: auto auto;
  border-bottom: 2px solid black;
  font-weight: bold;
  margin-bottom: 10px;
}

#carpool {
  display: flex;
  justify-content: space-between;
}

#carpool h2 {
  margin-left: 25px;
}

#database {
  width: 400px;
  height: 280px;
  display: inline-block;
  margin-left: 80px;
}

#omni, #smart, #joint {
  display: flex;
  justify-content: space-around;
}

#omni div h2, #smart div h2, #joint div h2 {
  margin-left: 0;
}

#omni div span, #smart div span, #joint div span {
  display: block;
}

#omni img, #smart img, #joint img {
  margin-top: 30px;
  width: 350px;
  height: 200px;
}

#paper1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#paper1 img {
  width: 350px;
  height: 200px;
  margin-bottom: 30px;
}

.header-change {
  background-image: url("images/img3.jpg");
}
